<html>


<head>

    <meta http-equiv="refresh" content=contentt />
    <meta http-equiv="refresh" content=";url={{contentt}}" /><!------>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='multiprocessingg.css') }}">
    <style>
        



    
    </style>  



</head>

<body>
  <div class="cta-container w" style="visibility: {{WSwvis}};">
    <div class="button">
      <div class="square-front">
        <div class="relative-box">
            <span class="line line-top"></span>
            <span class="line line-right"></span>
            <span class="line line-bottom"></span>
            <span class="line line-left"></span>
        </div>
      </div>
      <input type="submit" class="label" value="Wooden Sword">
    </div>
  </div>
  <div class="cta-container sto" style="visibility: {{StoSwvis}};">
    <div class="button">
      <div class="square-front">
        <div class="relative-box">
            <span class="line line-top"></span>
            <span class="line line-right"></span>
            <span class="line line-bottom"></span>
            <span class="line line-left"></span>
        </div>
      </div>
      <input type="submit" class="label" value="Stone Sword">
    </div>
  </div>
  <div class="cta-container i" style="visibility: {{ISwvis}};">
    <div class="button">
      <div class="square-front">
        <div class="relative-box">
            <span class="line line-top"></span>
            <span class="line line-right"></span>
            <span class="line line-bottom"></span>
            <span class="line line-left"></span>
        </div>
      </div>
      <input type="submit" class="label" value="Iron Sword">
    </div>
  </div>
  <div class="cta-container ste" style="visibility: {{SteSwvis}};">
    <div class="button">
      <div class="square-front">
        <div class="relative-box">
            <span class="line line-top"></span>
            <span class="line line-right"></span>
            <span class="line line-bottom"></span>
            <span class="line line-left"></span>
        </div>
      </div>
      <input type="submit" class="label" value="Steel Sword">
    </div>
  </div>
  <div class="cta-container ws" style="visibility: {{WSpvis}};">
    <div class="button">
      <div class="square-front">
        <div class="relative-box">
            <span class="line line-top"></span>
            <span class="line line-right"></span>
            <span class="line line-bottom"></span>
            <span class="line line-left"></span>
        </div>
      </div>
      <input type="submit" class="label" value="Wooden Spear">
    </div>
  </div>
  <div class="cta-container stos" style="visibility: {{stoSpvis}};">
    <div class="button">
      <div class="square-front">
        <div class="relative-box">
            <span class="line line-top"></span>
            <span class="line line-right"></span>
            <span class="line line-bottom"></span>
            <span class="line line-left"></span>
        </div>
      </div>
      <input type="submit" class="label" value="Stone Spear">
    </div>
  </div>
  <div class="cta-container is " style="visibility: {{ISpvis}};">
    <div class="button">
      <div class="square-front">
        <div class="relative-box">
            <span class="line line-top"></span>
            <span class="line line-right"></span>
            <span class="line line-bottom"></span>
            <span class="line line-left"></span>
        </div>
      </div>
      <input type="submit" class="label" value="Iron Spear">
    </div>
  </div>
  <div class="cta-container stes" style="visibility: {{SteSpvis}};">
    <div class="button">
      <div class="square-front">
        <div class="relative-box">
            <span class="line line-top"></span>
            <span class="line line-right"></span>
            <span class="line line-bottom"></span>
            <span class="line line-left"></span>
        </div>
      </div>
      <input type="submit" class="label" value="Steel Spear">
    </div>
  </div>
  
    
   
    
    

</body>
</html>