.clicker {
    width:100px;
    height:100px;
    background-color:blue;
    outline:none;
    cursor:pointer;
}

.hiddendiv{
    display:none;
    height:200px;
    background-color:green;
}

.clicker:focus + .hiddendiv{
    display:block;
}