<!DOCTYPE html>
<html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
            <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css')}}">

        </head>
            
  <body> 
    <div class="container" style="border: 1px solid green;">
      <div class="cube">
        <div class="sside abide"></div>
        <div class="side one"></div>
        <div class="side two"></div>
        <div class="side three"></div>
        <div class="side four"></div>
        <div class="side five"></div>
        <div class="side six"></div>
        <div class="side seven"></div>
        <div class="side eight"></div>
        
      </div>
      <div class="cubeshadow">
        <div class="squareshadow"></div>
      </div>
      <div class="squareone"></div>
      <div class="squaretwo"></div>
      <div class="squarethree"></div>

      
    </div>
    <div id="enchant">
      Enchant
    </div>
    <select>
      <option selected value="0"></option>
      {% for options in select%}
      
      <option value="1">{{Sword}}</option>
      <option value="2">{{Spear}}</option>
      <option value="3">Weapon 3</option>
      {% endfor %}
    </select>
    <div id="sacrifice">
      Sacrifice
    </div>
    
    <div class="background-chat">
      <div class="chat">
        {% for msg in chat %}
            <h2 class="event">{{ msg }}</h2>
        {% endfor %}
      </div>
    </div>
    </body> 


</html>


