<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">

</head>
<body>
        <div class="Startgame">
            <a href="http://127.0.0.1:5000/menu/" class="neon-button">Arise</a>
            <h2 class="topcave"></h2>
            <h2 class="topcave tshadow"></h2>
            <h2 class="bottomcave"></h2>
            <h2 class="bottomcave bshadow"></h2>
            <h1 class="hiddentext">from the dark</h1>
            
        </div>
</body>
</html>