<!DOCTYPE html>
<html>

    
        <head>
            <title>Nomadic Camp</title> 
            <meta charset=utf-8> 
            <meta http-equiv="refresh" content=";url=http://127.0.0.1:5000/" /><!------>
            <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
            <style>
            .WoodResincome{
                --u:{{wood}};
 
                --n:{{wood+WW}};
                

            }
            .FoodResincome{
                --u:{{food}};
                --n:{{food+FW}};
                

            }
            .LeatherResincome{
                --u:{{Leather}};
                --n:{{Leather}};
                

            }


            
            </style>
            
        </head>
             
    <body onload='Start()'> 

            <div class="background-chat">
                <div class="chat" id="chat"> 
                    
                        <h2 class="event" id="LatestText">You wake up, alone, in the middle of an unknown forest.</h2>
                    
                </div>
            </div>
            <h1 style="text-shadow: 0px 0px 5px white;">Nomadic Camp</h1>              


        <div class="tabs">
            <div class="tab">
              <input type="radio" id="tab-1" name="tab-group-1" {{Gcheck}}>
              <label for="tab-1">Outside</label>

              <div class="content">
                    <div class="progress">
                        <div class="progress-value" id="loading"></div>
                        <button onclick="Gather();" id="GatherButton">Gather</button>

                    </div>
                    <button onclick="ClearStorage();">Clear</button>
              </div>
            </div>
            <div class="tab">
                <input type="radio" id="tab-2" name="tab-group-1"{{Ccheck}}>
                <label for="tab-2">Camp</label>
                
                <div class="content">
                    
                        <div class="Items">
                            
 
                        </div>

                        <div class="ressources" style="z-index: 10;">
                            <div class="Population" id="Population">Population : {{population}} / {{populationmax}}</div><div style="position: absolute;left: 190px;top:0;">Workers</div><br>
                            <div class="rezz" style="top:20px;">Food <div class="rezzources" id='F'> 0 </div>  <div class="Workers"><p class="clickable" onclick="increase(0, 'green', {{population}})">+</p> <p id="FW" >0</p> <p class="clickable" onclick="decrease(0,'red')">-</p></div></div>
                            <div class="rezz" style="top:45px;">Wood  <div class="rezzources" id='W'> 0 </div>  <div class="Workers"><p class="clickable" onclick="increase(1, 'green', {{population}})">+</p> <p id="WW" >0</p> <p class="clickable" onclick="decrease(1,'red')">-</p></div></div><br>
                            <br><br><br><br><div class ="income LeatherResincome">Leather : </div><br>
                        </div>

                        <div class="cta-container" id="WoodenSwordButton">
                            <div class="button">
                              <div class="square-front">
                                <div class="relative-box">
                                    <span class="line line-top"></span>
                                    <span class="line line-right"></span>
                                    <span class="line line-bottom"></span>
                                    <span class="line line-left"></span>
                                </div>
                              </div>
                              <button class="label" id="WoodenSword" onclick="UpgradeWeapon()"> Wooden Sword </button>
                              <!--<input type="submit" class="label" value="Wooden Sword" name="Wooden Sword" disabled>-->
                            </div>
                          </div>
                          <div class="cta-container" id="StoneSwordButton">
                            <div class="button">
                              <div class="square-front">
                                <div class="relative-box">
                                    <span class="line line-top"></span>
                                    <span class="line line-right"></span>
                                    <span class="line line-bottom"></span>
                                    <span class="line line-left"></span>
                                </div>
                              </div>
                              <button class="label" id="StoneSword" onclick="UpgradeWeapon()"> Stone Sword </button>
                            </div>
                          </div>
                          <div class="cta-container" id="IronSwordButton">
                            <div class="button">
                              <div class="square-front">
                                <div class="relative-box">
                                    <span class="line line-top"></span>
                                    <span class="line line-right"></span>
                                    <span class="line line-bottom"></span>
                                    <span class="line line-left"></span>
                                </div>
                              </div>
                              <button class="label" id="IronSword" onclick="UpgradeWeapon()"> Iron Sword </button>
                            </div>
                          </div>
                          <div class="cta-container" id="SteelSwordButton">
                            <div class="button">
                              <div class="square-front">
                                <div class="relative-box">
                                    <span class="line line-top"></span>
                                    <span class="line line-right"></span>
                                    <span class="line line-bottom"></span>
                                    <span class="line line-left"></span>
                                </div>
                              </div>
                              <button class="label" id="SteelSword" onclick="UpgradeWeapon()"> Steel Sword </button>
                            </div>
                          </div>
                          <div class="cta-container spear" style="visibility: {{WSpvis}};">
                            <div class="button">
                              <div class="square-front">
                                <div class="relative-box">
                                    <span class="line line-top"></span>
                                    <span class="line line-right"></span>
                                    <span class="line line-bottom"></span>
                                    <span class="line line-left"></span>
                                </div>
                              </div>
                              <input type="submit" class="label" value="Wooden Spear" name="Wooden Spear">
                            </div>
                          </div>
                          <div class="cta-container spear" style="visibility: {{StoSpvis}};">
                            <div class="button">
                              <div class="square-front">
                                <div class="relative-box">
                                    <span class="line line-top"></span>
                                    <span class="line line-right"></span>
                                    <span class="line line-bottom"></span>
                                    <span class="line line-left"></span>
                                </div>
                              </div>
                              <input type="submit" class="label" value="Stone Spear" name="Stone Spear">
                            </div>
                          </div>
                          <div class="cta-container spear" style="visibility: {{ISpvis}};">
                            <div class="button">
                              <div class="square-front">
                                <div class="relative-box">
                                    <span class="line line-top"></span>
                                    <span class="line line-right"></span>
                                    <span class="line line-bottom"></span>
                                    <span class="line line-left"></span>
                                </div>
                              </div>
                              <input type="submit" class="label" value="Iron Spear" name="Iron Spear">
                            </div>
                          </div>
                          <div class="cta-container spear" style="visibility: {{SteSpvis}};">
                            <div class="button">
                              <div class="square-front">
                                <div class="relative-box">
                                    <span class="line line-top"></span>
                                    <span class="line line-right"></span>
                                    <span class="line line-bottom"></span>
                                    <span class="line line-left"></span>
                                </div>
                              </div>
                              <input type="submit" class="label" value="Steel Spear" name="Steel Spear">
                            </div>
                          </div>
                          <div class="cta-container Atlatl" style="visibility: {{Atlatlvis}};">
                            <div class="button">
                              <div class="square-front">
                                <div class="relative-box">
                                    <span class="line line-top"></span>
                                    <span class="line line-right"></span>
                                    <span class="line line-bottom"></span>
                                    <span class="line line-left"></span>
                                </div>
                              </div>
                              <input type="submit" class="label" value="Atlatl" name="Atlatl">
                            </div>
                          </div>
                          <div class="cta-container Sack" style="visibility: {{Sackvis}};">
                            <div class="button">
                              <div class="square-front">
                                <div class="relative-box">
                                    <span class="line line-top"></span>
                                    <span class="line line-right"></span>
                                    <span class="line line-bottom"></span>
                                    <span class="line line-left"></span>
                                </div>
                              </div>
                              <input type="submit" class="label" value="Sack" name="Sack">
                            </div>
                          </div>
                          <div class="cta-container Hut" style="visibility: {{Hutvis}};">
                            <div class="button">
                              <div class="square-front">
                                <div class="relative-box">
                                    <span class="line line-top"></span>
                                    <span class="line line-right"></span>
                                    <span class="line line-bottom"></span>
                                    <span class="line line-left"></span>
                                </div>
                              </div>
                              <input type="submit" class="label" value="Hut" name="Hut">
                            </div>
                          </div>



                    
                    <div class="firebackground">

                    <div class="Alight"></div>
                    <div class="Acontent">
                    <div class="Afire">
                    <div class="Abottom"></div>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                    <figure></figure>
                        </div>
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                        <feBlend in="SourceGraphic" in2="goo" />
                        </filter>
                    </defs>
                    </svg>
                    </div>
                </div>
            </div>
            <div class="tab">
              <input type="radio" id="tab-3" name="tab-group-1" {{Tcheck}}>
              <label for="tab-3">Tab Three</label>
              <div class="content">
                <a class="link" onclick="Redirect('http://127.0.0.1:5000/wilderness')"><div class="text" >wilderness</div></a>

                <a href="/crystal" href="#" class="link" onclick="Redirect('http://127.0.0.1:5000/crystal')" id="CrystalLink"><div class="text" >Magic Crystal</div></a>

                <a href="/techtree" class="link" onclick="Redirect('http://127.0.0.1:5000/techtree')" id="TechTreeLink"><div class="text" >Tech Tree</div></a>


                

                  
                
               
                  
              </div>
            </div> 
        </div>       

        <div id="ExploredLand">World explored : ??? m ( ??? % )</div>
        

        
      <div class="location">
          <input type="checkbox" id="some-checkbox">
          <label for="some-checkbox" id="somecheckbox">X</label>
          <div class="checkbox-hack-content">
            <div class="otherinfo">
              <div class="frame">
                  <a href="https://github.com/inventor321/nomadic-tribe" class="custom-btn btn-About" style="text-decoration: none; ">Learn More</a>
  
              </div>
            </div>
          </div>
          
      </div>

      <script src="{{url_for('static', filename='js/MainPage.js')}}"></script>

    </body> 
   

</html>


