<!DOCTYPE html>
<html>
<head>
    <title>Statistics</title>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='Stats.css')}}">
    <meta charset="UTF-8">
    <style>
       
    </style>
</head>
<body>
    <h1>Statistics</h1>
    <div class="container">
        <div class="Title"> Ressources Collected </div>
        <div class="names">
            <div class="Current">Current</div>
            <div class="Total">Total</div>

        </div>
        <div class="names Food">
            <div class="name">Food</div>
            <div class="Current">XXX</div>
            <div class="Total">XXX</div>

        </div>
        <div class="names Wood">
            <div class="name">Wood</div>
            <div class="Current">XXX</div>
            <div class="Total">XXX</div>

        </div>
        <div class="names Stone">
            <div class="name">Stone</div>
            <div class="Current">XXX</div>
            <div class="Total">XXX</div>
        </div>
        <div class="names Iron">
            <div class="name">Iron</div>
            <div class="Current">XXX</div>
            <div class="Total">XXX</div>
        </div>
        <div class="names Steel">
            <div class="name">Steel</div>
            <div class="Current">XXX</div>
            <div class="Total">XXX</div>
        </div>
        <div class="names Leather">
            <div class="name">Leather</div>
            <div class="Current">XXX</div>
            <div class="Total">XXX</div>
        </div>
<!--
        <div class="Current">Current</div>
        <div class="Total">Total</div>

        <div class="Food" style="border: 1px solid orange; width: 100%;">Food   
            <div class="">Current</div>

            <div class="Total">Total</div>
        </div>
        <p class="Wood">Wood    

        </p>
        <p class="Stone">Stone    

        </p>
        <p id="Iron"></p>
        <p id="Steel"></p>
        <p id="Leather"></p>-->
    </div>
</body>
</html>