<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='techtree.css') }}">

</head>
<body onload="LoadTech()">

    
        <div class="bbackground">
            <a href="." class="ReturnButton" onclick="Redirect('http://127.0.0.1:5000/menu/')">Return to Camp</a>
            <div class="background"> 
                <div class="Title">Tools</div>
                
                <div id="Communities">
                    <div class="contain" id="CommunitiesContainer">
                        <button class="Upgrade-btn" id="CommunitiesButton" onclick="TechCheck(0)">Communities</button> 
                        <div class="popup">
                            25 science<br>25 wood<br><h2>Unlocks Stone tools</h2><br>
                        </div>

                    </div>
                </div>
                <div id="Villagios">
                    <hr class="line" id="VillagiosBar" >
                    <div class="contain" id="VillagiosContainer" >
                        <button class="Upgrade-btn" id="VillagiosButton" onclick="TechCheck(1)">Villagios</button> 
                        <div class="popup">
                            50 science<br>25 wood<br><h2>Unlocks Iron tools</h2><br>
                        </div>
                        

                    </div>
                </div>
                <div id="RessourceProduction">
                    <hr class="line" id="RessourceProductionBar" >
                    <div class="contain" id="RessourceProductionContainer" >
                        <button class="Upgrade-btn" id="RessourceProductionButton" onclick="TechCheck(2)">Ressource Production</button> 
                        <div class="popup">
                            50 science<br>25 wood<br><h2>Unlocks Iron tools</h2><br>
                        </div>
                        

                    </div>
                </div>
                <div id="StoneTools">
                    <div class="contain" id="StoneToolsContainer">
                        <button class="Upgrade-btn" id="StoneToolsButton" onclick="TechCheck(3)">Stone tools</button> 
                        <div class="popup">
                            25 science<br>25 wood<br><h2>Unlocks Stone tools</h2><br>
                        </div>

                    </div>
                </div>
                <div id="IronTools">
                    <hr class="line" id="IronToolsBar" >
                    <div class="contain" id="IronToolsContainer" >
                        <button class="Upgrade-btn" id="IronToolsButton" onclick="TechCheck(4)">Iron tools</button> 
                        <div class="popup">
                            50 science<br>25 wood<br><h2>Unlocks Iron tools</h2><br>
                        </div>
                        

                    </div>
                </div>

                <div id="SteelTools">
                    <hr class="line" id="SteelToolsBar" >

                    <div class="contain" id="SteelToolsContainer">
                        <button class="Upgrade-btn" id="SteelToolsButton" onclick="TechCheck(5)">Steel tools</button> 
                        <div class="popup">
                            75 science<br>25 wood<br><h2>Unlocks Steel tools</h2><br>
                        </div>
                        

                    </div>
                </div>
            
                
                <div class="contain" id="RessourceContainer">
                    <!--<button class="Upgrade-btn" id="Ressource"  onclick="TechCheck(5)">Steel tools</button> -->
                    <div class="popup">25 science<br>50 food <br><h1>+50% ressources produced by population</h1> </div>
                
                </div>
                

                <div class="contain" id="HuntingStrategiesContainer">
                <input type="submit" class="Upgrade-btn" name="HuntingStrategies" id="HuntingStrategies" value="Hunting Strategies">
                <div class="popup">10 science<br>20 food<h2>Unlocks Hunting</h2>Animals are a better source of food than just berries.<h1>+25% food when gathering ressources</h1></div>
                
                </div>
                
                <hr class="line" id="HStoS" style="display:{{UpgradeSpearsdisplay}};">

                <div class="contain" id="SpearsContainer"  style="display:{{UpgradeSpearsdisplay}};"> 
                <input type="submit" class="Upgrade-btn" name="Spears" id="Spears" value="Spears">
                <div class="popup">
                    40 science<br>60 wood<br>
                    <h2>Unlocks Spears:</h2>
                    Throwing spears is more effecient than chasing your food.
                    <h1>+30% food when gathering ressources</h1>
                </div>
                
                </div>

                <hr class="line" id="StoA" style="display:{{UpgradeAtlatldisplay}};">

                <div class="contain" id="AtlatlContainer"  style="display:{{UpgradeAtlatldisplay}};"> 
                    <input type="submit" class="Upgrade-btn" name="Atlatl" id="Atlatl" value="Atlatl">
                    <div class="popup">
                        100 science<br>160 wood<br>
                        <h2>Unlocks Atlatl:</h2>
                        Increases the range of the spears you throw.
                        <h1>+30% food when gathering ressources</h1>
                    </div>
                    
                </div>

                <div class="contain" id="SackContainer"> 
                    <input type="submit" class="Upgrade-btn" name="Sack" id="Sack" value="Sack">
                    <div class="popup">
                        100 science<br>160 wood<br>
                        <h2>Unlocks Sack:</h2>
                        Increases the range of the spears you throw.
                        <h1>+30% food when gathering ressources</h1>
                    </div>
                    
                </div>

                <hr class="line" id="StoH" style="display:{{UpgradeHutdisplay}};">

                <div class="contain" id="HutContainer"  style="display:{{UpgradeHutdisplay}};"> 
                    <input type="submit" class="Upgrade-btn" name="Hut" id="Hut" value="Hut">
                    <div class="popup">
                        100 science<br>160 wood<br>
                        <h2>Unlocks Hut:</h2>
                        Allows you to accomedate people into your tribe.
                        <h1>+4 population space</h1>
                    </div>
                    
                </div>
                

            
            </div>
        </div>
        <script src="{{url_for('static', filename='js/TechTree.js')}}"></script>
</body>
</html>