<html>


<head>

    <meta http-equiv="refresh" content=contentt />
    <meta http-equiv="refresh" content=";url={{contentt}}" /><!------>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='test.css') }}">
    <style>
        



    
    </style>  



</head>

<body>
    
  <input type="radio" name="straight" id="s0" checked="checked" />
  <label for="s1">Start</label>
  <input type="radio" name="straight" id="s1" />
  <label for="s2">Turn Left</label>
  <input type="radio" name="straight" id="s2" />
  <label for="s3">Keep Going</label>
  <input type="radio" name="straight" id="s3" />
  <label for="s4">Nearly There</label>
  <input type="radio" name="straight" id="s4" />
  <label for="s5">Home Straight</label>
  <input type="radio" name="straight" id="s5" />
  <label for="s0">Reset</label>
  <div class="track">
  <div class="timer">
  <ol class="hundreds">
  <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
  </ol>
  <ol class="tens">
  <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
  </ol>
  <ol class="ones">
  <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
  </ol>
  <ol class="point"><li>.</li></ol>
  <ol class="tenths">
  <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
  </ol>
  <ol class="hundredths">
  <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
  </ol>
  </div>
  <div class="finish"></div>
  <div class="runner"></div>
  </div>
  
  
  
            </div>

</body>
</html>



