<html>


<head>

  <title>NUMBER GO UP</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,600,400italic,600italic,700,700italic,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='testt.css') }}">  
  <script src="{{url_for('static', filename='somejavascriptfile.js')}}"></script>
    <style>
        



    
    </style>  



</head>

<body>
    

  
  <p id="count">0 </p>
  <button onclick="server.increment()">Increment</button>


   


</body>
</html>



